<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sell Property</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
    <!-- property info -->
    <ion-item>
      <ion-label position="floating">Property Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input formControlName="location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input formControlName="price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Property Type</ion-label>
      <ion-select formControlName="type" placeholder="Select Type" interface="alert">
        <ion-select-option *ngFor="let type of propertyTypes" [value]="type">
          {{ type }}
        </ion-select-option>
      </ion-select>
    </ion-item>


    <!-- image URLs -->
    <ion-item>
      <ion-label position="floating">Image URLs (comma separated)</ion-label>
      <ion-textarea formControlName="imageUrls" autoGrow="true"></ion-textarea>
    </ion-item>

    <!-- facilities -->
    <ion-item>
      <ion-label>Facilities</ion-label>
      <ion-select formControlName="facilities" multiple="true" placeholder="Select a facility">
        <ion-select-option *ngFor="let facility of facilities" [value]="facility">
          {{ facility }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- overview -->
    <ion-item>
      <ion-label position="floating">Overview</ion-label>
      <ion-textarea formControlName="overview" autoGrow="true"></ion-textarea>
    </ion-item>

    <!-- agent info -->
    <ion-item>
      <ion-label position="floating">Agent Name</ion-label>
      <ion-input formControlName="agentName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Agent Phone</ion-label>
      <ion-input type="tel" formControlName="agentPhone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Agent Avatar URL</ion-label>
      <ion-input formControlName="agentAvatar"></ion-input>
    </ion-item>

    <!-- property details -->
    <ion-item>
      <ion-label position="floating">Beds</ion-label>
      <ion-input type="number" formControlName="beds"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Baths</ion-label>
      <ion-input type="number" formControlName="baths"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Area (sqft)</ion-label>
      <ion-input type="number" formControlName="area"></ion-input>
    </ion-item>

    <!-- location coordinates -->
    <ion-item>
      <ion-label position="floating">Latitude</ion-label>
      <ion-input type="number" formControlName="latitude"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Longitude</ion-label>
      <ion-input type="number" formControlName="longitude"></ion-input>
    </ion-item>

    <!-- likes & rating -->
    <ion-item>
      <ion-label position="floating">Initial Likes</ion-label>
      <ion-input type="number" formControlName="likes"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Initial Rating</ion-label>
      <ion-input type="number" formControlName="rating" step="0.1"></ion-input>
    </ion-item>

    <!-- featured -->
    <ion-item lines="full">
      <ion-label>Mark as Featured</ion-label>
      <ion-checkbox slot="end" formControlName="featured"></ion-checkbox>
    </ion-item>

    <ion-button expand="block" class="final" type="submit"  [disabled]="propertyForm.invalid">
      Submit Property
    </ion-button>
  </form>
</ion-content>
