<ion-content>
  <div class="booking-container">
    <h2>Book a Visit</h2>
    <p>Choose your preferred date & time with our agents.</p>

    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
      <!--  full naame -->
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" required>
      </mat-form-field>

      <!--  property name (readonly) -->
      <mat-form-field appearance="outline">
        <mat-label>Property Name</mat-label>
        <input matInput formControlName="propertyName" readonly>
      </mat-form-field>

      <!--  select agent (dropdown) -->
      <mat-form-field appearance="outline">
        <mat-label>Agent</mat-label>
        <mat-select formControlName="agent">
          <mat-option *ngIf="agents.length > 0" [value]="agents[0]">
            {{ agents[0] }}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <!--  date picker (prevent typing) -->
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date"
               [min]="minDate"
               (dateChange)="onDateChange($event)"
               (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <!--  available Times (appears after selecting date) -->
      <mat-form-field appearance="outline" *ngIf="selectedDate">
        <mat-label>Available Times</mat-label>
        <mat-select formControlName="time">
          <mat-option *ngFor="let time of availableTimes" [value]="time">{{ time }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- submit button -->
      <ion-button expand="block" type="submit" [disabled]="bookingForm.invalid">Submit</ion-button>
    </form>
  </div>
</ion-content>
